<div class="container-fluid ng-scope">
  <div class="row p-2">
      <div class="col-md-8 offset-md-2 pt-2 pb-2">
          <br>
          <h3 class="animated fadeInUp" style="font-family: google-sans;color: #1a73e8;">Our lineup of big thinkers and even bigger doers</h3>
          <br>
          <p class="animated fadeInUp" style="font-family: google-sans">Hear from the speakers who shape the future of Android, Web and Cloud technologies. Check back often as we add more speakers all the time.</p>

         <br>
      </div>
  </div>
 
</div>

<div class="container-fluid ng-scope" style="background-image: url('https://gdgjalandhar.com/e/next18/assets/img/a.svg');background-repeat: no-repeat;background-size: cover;">
  <div class="row mt-2 mb-5">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <div class="container-fluid">
                      <div class="row animated fadeInUp">
                          <!-- ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/rahul.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Rahul Pandey</h5>
                              <p class="ng-binding">Google</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/jyoti.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Jyoti Thakur</h5>
                              <p class="ng-binding">Google</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/kamal.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Kamal Vaid</h5>
                              <p class="ng-binding">Infosys</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/tushar.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Tushar Shrivastav</h5>
                              <p class="ng-binding">Infosys</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/avatar.png" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Pooja Guleria</h5>
                              <p class="ng-binding">Infosys</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/shiv.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Shiv Prakesh</h5>
                              <p class="ng-binding">Infineon</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/pawan.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Pawan Kumar</h5>
                              <p class="ng-binding">GDE, Flutter</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/nitika.png" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Nitika Bhatia</h5>
                              <p class="ng-binding">WTM Lead, WomenTechmakers</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/suraj.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Suraj Kumar</h5>
                              <p class="ng-binding">Community Organizer, GDG</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/sonakshi.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Sonakshi Shukla</h5>
                              <p class="ng-binding">WTM Lead, WomenTechmakers</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/varsha.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Varsha Jaiswal</h5>
                              <p class="ng-binding">IB Hub</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/kishan.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Kishan Patel</h5>
                              <p class="ng-binding">GDG</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/yash.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Yash Pathak</h5>
                              <p class="ng-binding">GDG</p>
                          </div><!-- end ngRepeat: sp in speakersData --><div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData">
                              <img src="https://devfest.gdgjalandhar.com/assets/img/team/vrij.jpg" alt="Speaker Image" class="rounded-circle" width="60%">
                              <br><br>
                              <h5 class="h5-responsive ng-binding" style="font-family: google-sans;">Vrijraj Singh</h5>
                              <p class="ng-binding">Community Organizer, GDG</p>
                          </div><!-- end ngRepeat: sp in speakersData -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-5 pb-5">
      <div class="col-md-6 offset-md-3 text-center mt-5">
          <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3 ng-binding">Our Patners</h3>
          <p class="ng-binding">Interested in becoming a sponsor? Contact us at gdgjalandhar@gmail.com for opportunities to be showcased throughout the event.</p>
          <br>
          <!-- ngRepeat: pd in patData.patnersName --><div ng-repeat="pd in patData.patnersName" class="ng-scope">
              <a href="https://developers.google.com/groups/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/GDG-program-logo.png" width="160h" title="Google Developers Groups"></a>
          </div><!-- end ngRepeat: pd in patData.patnersName --><div ng-repeat="pd in patData.patnersName" class="ng-scope">
              <a href="https://www.womentechmakers.com/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/WT_logo_horizontal_pos.png" width="280h" title="WomenTechmakers"></a>
          </div><!-- end ngRepeat: pd in patData.patnersName --><div ng-repeat="pd in patData.patnersName" class="ng-scope">
              <a href="https://www.facebook.com/MDCJalandhar/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/mozilla.png" width="140h" title="Mozilla Developers Community"></a>
          </div><!-- end ngRepeat: pd in patData.patnersName -->
          <br>
          <br>
      </div>
  </div>
</div>