<div class="container-fluid ng-scope">
    <div class="row p-0">
        <div class="col-md-10 offset-md-1">
            <div class="container-fluid">
                <div class="row mt-5 mb-5 align-items-center">
                    <div class="col-md-6" style="padding-top: auto; padding-bottom: auto">
                        <h1 style="font-family: google-sans;font-weight: 350;color: #3c4043;" class="display-5 animated fadeInUp"><b>Build
                                for <span style="color: #1a73e8;">Digital Wellbeing</span>.</b></h1>
                        <br>
                        <h4 style="font-family: google-sans;" class="animated fadeInUp ng-binding">GDG DevFest'18</h4>
                        <p class="google-font animated fadeInUp ng-binding">GDG DevFest Jalandhar 2018 are large,
                            community-run developer events happening around the globe focused on community building and
                            learning about Google’s technologies.</p>
                        <p class="google-font text-muted animated fadeInUp ng-binding">
                            13th &amp; 14 Oct 2018 &nbsp; 09 am to 5.30 pm &nbsp; Lovely Professional University
                        </p>
                        <p class="google-font text-muted animated fadeInUp">
                            <!-- ngRepeat: hs in homeJson.hashTag --><span ng-repeat="hs in homeJson.hashTag" class="ng-binding ng-scope">
                                #GDGJalandhar &nbsp;
                            </span><!-- end ngRepeat: hs in homeJson.hashTag --><span ng-repeat="hs in homeJson.hashTag"
                                class="ng-binding ng-scope">
                                #WTMJalandhar &nbsp;
                            </span><!-- end ngRepeat: hs in homeJson.hashTag --><span ng-repeat="hs in homeJson.hashTag"
                                class="ng-binding ng-scope">
                                #GDG &nbsp;
                            </span><!-- end ngRepeat: hs in homeJson.hashTag --><span ng-repeat="hs in homeJson.hashTag"
                                class="ng-binding ng-scope">
                                #WTM &nbsp;
                            </span><!-- end ngRepeat: hs in homeJson.hashTag -->

                        </p>

                        <!-- <h5 class="google-font animated fadeInU">Coming Soon...</h5> -->

                        <ul class="list-inline animated fadeInUp">
                            <!-- ngRepeat: sl in homeJson.socialLinks -->
                            <li class="list-inline-item ng-scope" ng-repeat="sl in homeJson.socialLinks">
                                <a href="https://www.facebook.com/GDGJalandhar/" style="color: #3c4043;"><i class="fa fa-facebook"
                                        aria-hidden="true"></i></a>
                            </li><!-- end ngRepeat: sl in homeJson.socialLinks -->
                            <li class="list-inline-item ng-scope" ng-repeat="sl in homeJson.socialLinks">
                                <a href="https://plus.google.com/u/0/+GdgjalandharIn/posts" style="color: #3c4043;"><i
                                        class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li><!-- end ngRepeat: sl in homeJson.socialLinks -->
                            <li class="list-inline-item ng-scope" ng-repeat="sl in homeJson.socialLinks">
                                <a href="https://twitter.com/gdgjalandhar" style="color: #3c4043;"><i class="fa fa-twitter"
                                        aria-hidden="true"></i></a>
                            </li><!-- end ngRepeat: sl in homeJson.socialLinks -->
                            <li class="list-inline-item ng-scope" ng-repeat="sl in homeJson.socialLinks">
                                <a href="https://www.meetup.com/GDG-Jalandhar/" style="color: #3c4043;"><i class="fa fa-meetup"
                                        aria-hidden="true"></i></a>
                            </li><!-- end ngRepeat: sl in homeJson.socialLinks -->

                        </ul>

                        <a href="#registration" class="btn btn-primary btn-sm mt-2 m-0 waves-effect waves-light z-depth-0 animated fadeInUp google-font"
                            style="text-transform:capitalize;">Request for an Invitation</a>
                        &nbsp;

                        <a href="https://www.meetup.com/GDG-Jalandhar/events/253165595/" target="_blank" class="btn btn-pink btn-sm mt-2 m-0 waves-effect waves-light z-depth-0 animated fadeInUp google-font"
                            style="text-transform:capitalize;">Meetup Page</a>

                    </div>

                    <div class="col-md-6 d-none d-lg-block">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-2 float-right" style="max-width: 90%;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Osn5Y6N5rG0"></iframe>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<div class="container-fluid grey lighten-5 d-none d-lg-block ng-scope">
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <!-- ngRepeat: svs in homeJson.overviewSection -->
                    <div class="col-md-3 text-center p-5 animated fadeInUp ng-scope" ng-repeat="svs in homeJson.overviewSection">
                        <i class="fa fa-microphone fa-3x" style="color: #424242 ;text-align: center" aria-hidden="true"></i>
                        <br><br>
                        <h3 style="font-family: google-sans;color: #424242 ;" class="h3-responsive ng-binding">Sessions</h3>
                        <p style="font-size: 90%" class="ng-binding">3 parallel tracks, dedicated to Android, Web and
                            Cloud technologies</p>
                    </div><!-- end ngRepeat: svs in homeJson.overviewSection -->
                    <div class="col-md-3 text-center p-5 animated fadeInUp ng-scope" ng-repeat="svs in homeJson.overviewSection">
                        <i class="fa fa-lightbulb-o fa-3x" style="color: #424242 ;text-align: center" aria-hidden="true"></i>
                        <br><br>
                        <h3 style="font-family: google-sans;color: #424242 ;" class="h3-responsive ng-binding">Showcases</h3>
                        <p style="font-size: 90%" class="ng-binding">Demo zone with the latest of Google tech: Big
                            Data, face recognition, VR, IoT - all in one place</p>
                    </div><!-- end ngRepeat: svs in homeJson.overviewSection -->
                    <div class="col-md-3 text-center p-5 animated fadeInUp ng-scope" ng-repeat="svs in homeJson.overviewSection">
                        <i class="fa fa-users fa-3x" style="color: #424242 ;text-align: center" aria-hidden="true"></i>
                        <br><br>
                        <h3 style="font-family: google-sans;color: #424242 ;" class="h3-responsive ng-binding">Workshops</h3>
                        <p style="font-size: 90%" class="ng-binding">3 workshops to get your hands dirty and create a
                            working prototype right during the conference</p>
                    </div><!-- end ngRepeat: svs in homeJson.overviewSection -->
                    <div class="col-md-3 text-center p-5 animated fadeInUp ng-scope" ng-repeat="svs in homeJson.overviewSection">
                        <i class="fa fa-american-sign-language-interpreting fa-3x" style="color: #424242 ;text-align: center"
                            aria-hidden="true"></i>
                        <br><br>
                        <h3 style="font-family: google-sans;color: #424242 ;" class="h3-responsive ng-binding">Networking</h3>
                        <p style="font-size: 90%" class="ng-binding">Work hard and enjoy DevFest is the best place to
                            meet new people</p>
                    </div><!-- end ngRepeat: svs in homeJson.overviewSection -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid animated fadeInUp mt-2 mb-2 ng-scope">
    <div class="row">
        <div class="col-md-10 offset-md-1 pt-5 pb-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 order-md-1 order-1">
                        <h2 style="font-family: google-sans;font-weight: 350;color: #3c4043;" class="display-5 h2-responsive animated fadeInUp"><b>On
                                the edge of <span style="color: #1a73e8;">Android, Web</span> and <span style="color: #1a73e8;">Cloud</span>.</b></h2>
                        <br>
                        <p class="google-font ng-binding">GDG DevFest Jalandhar brings together people who shape the
                            future of Android, Web and Cloud technologies for 2 days of sessions, workshops and
                            networking. Described by many as 'Google I/O of Jalandhar', our team creates DevFest to be
                            the best place for inspiration and experience sharing.</p>

                        <a href="https://www.youtube.com/watch?v=O46SRrFxR4c" target="_blank" class="btn btn-outline-primary btn-sm mt-2 m-0 waves-effect waves-light z-depth-0 animated fadeInUp google-font">See
                            How it was in 2017 &nbsp; <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-md-6 order-md-2 order-0 pb-4">
                        <div class="container-fluid">
                            <div class="row">

                                <!-- ngRepeat: statis in homeJson.states.statistics -->
                                <div class="col-md-6 col-6 ng-scope" ng-repeat="statis in homeJson.states.statistics">
                                    <h1 style="font-family: google-sans;font-weight: 800;font-size: 300%" class="display-5 animated fadeInUp"><b><span
                                                style="color: #1a73e8;" class="ng-binding">300+</span></b></h1>

                                    <p class="google-font ng-binding">Attendees</p>
                                </div><!-- end ngRepeat: statis in homeJson.states.statistics -->
                                <div class="col-md-6 col-6 ng-scope" ng-repeat="statis in homeJson.states.statistics">
                                    <h1 style="font-family: google-sans;font-weight: 800;font-size: 300%" class="display-5 animated fadeInUp"><b><span
                                                style="color: #1a73e8;" class="ng-binding">3+</span></b></h1>

                                    <p class="google-font ng-binding">Workshop</p>
                                </div><!-- end ngRepeat: statis in homeJson.states.statistics -->
                                <div class="col-md-6 col-6 ng-scope" ng-repeat="statis in homeJson.states.statistics">
                                    <h1 style="font-family: google-sans;font-weight: 800;font-size: 300%" class="display-5 animated fadeInUp"><b><span
                                                style="color: #1a73e8;" class="ng-binding">15+</span></b></h1>

                                    <p class="google-font ng-binding">Sessions</p>
                                </div><!-- end ngRepeat: statis in homeJson.states.statistics -->
                                <div class="col-md-6 col-6 ng-scope" ng-repeat="statis in homeJson.states.statistics">
                                    <h1 style="font-family: google-sans;font-weight: 800;font-size: 300%" class="display-5 animated fadeInUp"><b><span
                                                style="color: #1a73e8;" class="ng-binding">10+</span></b></h1>

                                    <p class="google-font ng-binding">Speakers</p>
                                </div><!-- end ngRepeat: statis in homeJson.states.statistics -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid pt-5 pb-3 ng-scope" style="background-image: url('https://gdgjalandhar.com/e/next18/assets/img/a.svg');background-repeat: no-repeat;background-size: cover;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center pt-5">
                        <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3 ng-binding">Our lineup of big
                            thinkers and even bigger doers</h3>
                        <p class="ng-binding">Get ready to be inspired by speakers who are building a cloud full of
                            opportunity with our partners and customers. Stay tuned as we add more dynamic speakers to
                            our lineup.</p>
                        <a href="#speakers">See More</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <!-- ngRepeat: sp in speakersData | limitTo : 4 -->
                    <div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData | limitTo : 4">
                        <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/rahul.jpg" alt="Speaker Image"
                            class="rounded-circle" width="60%">
                        <br><br>
                        <h5 style="font-family: google-sans;" class="ng-binding">Rahul Pandey</h5>
                        <p class="ng-binding">Google</p>
                    </div><!-- end ngRepeat: sp in speakersData | limitTo : 4 -->
                    <div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData | limitTo : 4">
                        <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/jyoti.jpg" alt="Speaker Image"
                            class="rounded-circle" width="60%">
                        <br><br>
                        <h5 style="font-family: google-sans;" class="ng-binding">Jyoti Thakur</h5>
                        <p class="ng-binding">Google</p>
                    </div><!-- end ngRepeat: sp in speakersData | limitTo : 4 -->
                    <div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData | limitTo : 4">
                        <img src="https://devfest.gdgjalandhar.com/assets/img/team/kamal.jpg" alt="Speaker Image" class="rounded-circle"
                            width="60%">
                        <br><br>
                        <h5 style="font-family: google-sans;" class="ng-binding">Kamal Vaid</h5>
                        <p class="ng-binding">Infosys</p>
                    </div><!-- end ngRepeat: sp in speakersData | limitTo : 4 -->
                    <div class="col-md-3 col-6 text-center mt-4 ng-scope" ng-repeat="sp in speakersData | limitTo : 4">
                        <img src="https://devfest.gdgjalandhar.com/assets/img/speakers/tushar.jpg" alt="Speaker Image"
                            class="rounded-circle" width="60%">
                        <br><br>
                        <h5 style="font-family: google-sans;" class="ng-binding">Tushar Shrivastav</h5>
                        <p class="ng-binding">Infosys</p>
                    </div><!-- end ngRepeat: sp in speakersData | limitTo : 4 -->
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3 ng-binding">Our Theme &amp; Sessions</h3>
            <p class="ng-binding">At sessions that span from the technical to the visionary, let’s celebrate and
                discover what the cloud can enable: how product innovation, open source, and ML and AI can propel
                enterprises forward and solve the big problems that impact all of us.</p>
            <a href="#sessions">See More</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="container-fluid">
                        <!-- <h5 class="google-font">We work hard to be ready soon...</h5> -->
                        <div class="row">
                            <!-- ngRepeat: sedt in sessionsData | limitTo : 4 -->
                            <div class="col-md-6 col-sm-12 mt-4 ng-scope" ng-repeat="sedt in sessionsData | limitTo : 4">
                                <div class="white p-3 pt-4" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;height:100%">
                                    <img src="https://devfest.gdgjalandhar.com/assets/img/gdg logo.svg" alt="GDG Logo"
                                        width="30vh" style="background:#fafafa;border-radius: 2px;" class="mb-3">
                                    <h5 style="font-family: google-sans;" class="ng-binding">Introduction to
                                        TensorFlow.js</h5>
                                    <p class="ng-binding">Introducing TensorFlow.js, an open-source library you can use
                                        to define, train, and run machine learning models entirely in the browser,
                                        using Javascript and a high-level layers API. If you’re a Javascript developer
                                        who’s new to ML, TensorFlow.js is a great way to begin learning. Or, if you’re
                                        a ML developer who’s new to Javascript, read on to learn more about new
                                        opportunities for in-browser ML. In this post, we’ll give you a quick overview
                                        of TensorFlow.js, and getting started resources you can use to try it out.</p>
                                </div>
                            </div><!-- end ngRepeat: sedt in sessionsData | limitTo : 4 -->
                            <div class="col-md-6 col-sm-12 mt-4 ng-scope" ng-repeat="sedt in sessionsData | limitTo : 4">
                                <div class="white p-3 pt-4" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;height:100%">
                                    <img src="https://devfest.gdgjalandhar.com/assets/img/gdg logo.svg" alt="GDG Logo"
                                        width="30vh" style="background:#fafafa;border-radius: 2px;" class="mb-3">
                                    <h5 style="font-family: google-sans;" class="ng-binding">Flutter</h5>
                                    <p class="ng-binding">Flutter is Google’s mobile app SDK for crafting high-quality
                                        native interfaces on iOS and Android in record time. Flutter is an easy and
                                        fast way to build beautiful mobile apps. If you are an experienced iOS or
                                        Android developer, you can use Flutter for your views and leverage much of your
                                        existing Java/Kotlin/ObjC/Swift investment. We'll go through app development in
                                        this part of session</p>
                                </div>
                            </div><!-- end ngRepeat: sedt in sessionsData | limitTo : 4 -->
                            <div class="col-md-6 col-sm-12 mt-4 ng-scope" ng-repeat="sedt in sessionsData | limitTo : 4">
                                <div class="white p-3 pt-4" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;height:100%">
                                    <img src="https://devfest.gdgjalandhar.com/assets/img/gdg logo.svg" alt="GDG Logo"
                                        width="30vh" style="background:#fafafa;border-radius: 2px;" class="mb-3">
                                    <h5 style="font-family: google-sans;" class="ng-binding">Modern Android
                                        Development: Android Jetpack and Kotlin</h5>
                                    <p class="ng-binding">Jetpack is a collection of Android software components to
                                        make it easier for you to develop great Android apps. These components help you
                                        follow best practices, free you from writing boilerplate code, and simplify
                                        complex tasks, so you can focus on the code you care about. Also, Kotlin will
                                        be talked about. You can write Android apps in Kotlin. Kotlin is expressive,
                                        concise, and powerful. Best of all, it's interoperable with the Java
                                        programming language and the existing Android runtime. We'll give a brief
                                        overview of the two.</p>
                                </div>
                            </div><!-- end ngRepeat: sedt in sessionsData | limitTo : 4 -->
                            <div class="col-md-6 col-sm-12 mt-4 ng-scope" ng-repeat="sedt in sessionsData | limitTo : 4">
                                <div class="white p-3 pt-4" style="border-color:#e0e0e0;border-width: 1px;border-style: solid;border-radius: 8px;height:100%">
                                    <img src="https://devfest.gdgjalandhar.com/assets/img/gdg logo.svg" alt="GDG Logo"
                                        width="30vh" style="background:#fafafa;border-radius: 2px;" class="mb-3">
                                    <h5 style="font-family: google-sans;" class="ng-binding">AMP and PWA</h5>
                                    <p class="ng-binding">The AMP Project is an open-source initiative aiming to make
                                        the web better for all. The project enables the creation of websites and ads
                                        that are consistently fast, beautiful and high-performing across devices and
                                        distribution platforms. Also we'll discuss PWA.Progressive Web Apps are web
                                        applications that load like regular web pages or websites but can offer the
                                        user functionality such as working offline, push notifications, and device
                                        hardware access traditionally available only to native mobile applications. </p>
                                </div>
                            </div><!-- end ngRepeat: sedt in sessionsData | limitTo : 4 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row mt-5 pb-5">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h3 style="font-family: google-sans;color: #1a73e8;" class="mb-3 ng-binding">Our Patners</h3>
            <p class="ng-binding">Interested in becoming a sponsor? Contact us at gdgjalandhar@gmail.com for
                opportunities to be showcased throughout the event.</p>
            <br>
            <!-- ngRepeat: pd in patData.patnersName -->
            <div ng-repeat="pd in patData.patnersName" class="ng-scope">
                <a href="https://developers.google.com/groups/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/GDG-program-logo.png"
                        width="160h" title="Google Developers Groups"></a>
            </div><!-- end ngRepeat: pd in patData.patnersName -->
            <div ng-repeat="pd in patData.patnersName" class="ng-scope">
                <a href="https://www.womentechmakers.com/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/WT_logo_horizontal_pos.png"
                        width="280h" title="WomenTechmakers"></a>
            </div><!-- end ngRepeat: pd in patData.patnersName -->
            <div ng-repeat="pd in patData.patnersName" class="ng-scope">
                <a href="https://www.facebook.com/MDCJalandhar/" class="mb-5"><img src="https://devfest.gdgjalandhar.com/assets/img/patners/mozilla.png"
                        width="140h" title="Mozilla Developers Community"></a>
            </div><!-- end ngRepeat: pd in patData.patnersName -->
            <br>
            <br>
        </div>
    </div>
</div>